## The LIBRARY we will be using

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy.schema import CreateSchema
from sqlalchemy import create_engine
import datetime

In [2]:
def openCSV(csv, index = False):
    df = pd.read_csv(f'{csv}.csv')
    return df

In [3]:
df = openCSV('Olist_order_items_dataset')
df2 = openCSV('Olist_order_payments_dataset')
df3 = openCSV('olist_geolocation_dataset')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [5]:
df['shipping_limit_date'].value_counts()

2017-07-21 18:25:23    21
2018-03-01 02:50:48    21
2017-08-30 14:30:23    20
2017-02-03 21:44:49    15
2017-12-21 02:30:41    15
                       ..
2017-10-02 03:56:18     1
2018-01-04 16:09:20     1
2018-04-25 16:55:28     1
2017-11-29 22:19:33     1
2018-06-12 17:10:13     1
Name: shipping_limit_date, Length: 93318, dtype: int64

##  Connecting Pandas DataFrames with Database

###  Step 3.1 - Create sqlalchemy engine to your mysql databas localhost

In [ ]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="admin",
                               db="sys"))

###  Step 3.2 - Create a new SCHEMA to put scraped data and Insert whole DataFrame into MySQL

In [ ]:
schemaname = input('schema name is: ')
engine.execute(CreateSchema(schemaname))
tablename = input('table name is: ')
df.to_sql(tablename, con = engine, schema = schemaname, if_exists = 'append', chunksize = 1000, index=False)

###  Step 3.3 - Changing sqlalchemy engine to new database for storing new data

In [ ]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="admin",
                               db=schemaname))

###  Step 3.4 - Using read sql query to retrieve data from database

In [ ]:
query = f'SELECT * FROM `{tablename}`'
query_df = pd.read_sql_query(query, engine) 
query_df.info()