In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import psycopg2
from sqlalchemy.schema import CreateSchema
from sqlalchemy import create_engine
import datetime

In [16]:
l = {'order_items' : 'Olist_order_items_dataset_cleaned.csv',
        'order_payments' : 'olist_order_payments_dataset.csv',
        'customers' : 'olist_customers_dataset.csv',
        'geolocation' : 'olist_geolocation_dataset.csv',
        'order_reviews' : 'olist_orders_dataset.csv',
        'orders' : 'olist_orders_dataset.csv',
        'products' : 'olist_products_dataset.csv',
        'sellers' : 'olist_sellers_dataset.csv'}

In [13]:
df = pd.read_csv('olist_order_items_dataset_cleaned.csv', index_col = 0)

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'year', 'quarter'],
      dtype='object')

In [14]:
df.to_csv('olist_order_items_dataset_cleaned1.csv')

In [16]:
df5 = pd.read_csv('olist_order_items_dataset_cleaned1.csv')
df5

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,year,quarter
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,2017,2017_Q3
1,1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,2017,2017_Q2
2,2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,2018,2018_Q1
3,3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,2018,2018_Q3
4,4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,2017,2017_Q1
...,...,...,...,...,...,...,...,...,...,...
112641,112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,2018,2018_Q2
112642,112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,2018,2018_Q3
112643,112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,2017,2017_Q4
112644,112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,2017,2017_Q3
112645,112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,2018,2018_Q2

In [31]:
df2 = pd.read_csv('olist_order_payments_cleaned.csv')
df2

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103878,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103879,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103880,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103881,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103882,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

##  Connecting Pandas DataFrames with Database

###  Step 3.1 - Create sqlalchemy engine to your postgresql databas localhost

In [3]:
# Connect to PosgreSQL
pg_engine = create_engine("postgresql://kongallen:password@localhost:5432/postgres")

###  Step 3.2 - Create a new SCHEMA to put scraped data and Insert whole DataFrame into MySQL

In [7]:
# Load the imported CSV into your database
df.to_sql('order_items', pg_engine)
# df2.to_sql('Olist_order_payments', pg_engine)

646

###  Step 3.3 - Using read sql query to retrieve data from database

In [9]:
query = 'SELECT * FROM public."order_items"'
order_items_df1 = pd.read_sql_query(query, pg_engine) 
order_items_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112646 entries, 0 to 112645
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                112646 non-null  int64
 1   order_id             112646 non-null  object
 2   order_item_id        112646 non-null  int64
 3   product_id           112646 non-null  object
 4   seller_id            112646 non-null  object
 5   shipping_limit_date  112646 non-null  object
 6   price                112646 non-null  float64
 7   freight_value        112646 non-null  float64
 8   year                 112646 non-null  int64
 9   quarter              112646 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 8.6+ MB

In [5]:
order_items_df

,index,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,year,quarter
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,2017,2017_Q3
1,1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,2017,2017_Q2
2,2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,2018,2018_Q1
3,3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,2018,2018_Q3
4,4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,2017,2017_Q1
...,...,...,...,...,...,...,...,...,...,...
112641,112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,2018,2018_Q2
112642,112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,2018,2018_Q3
112643,112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,2017,2017_Q4
112644,112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,2017,2017_Q3
112645,112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,2018,2018_Q2